<div class="container flex flex-column justify-content-center">
  <div class="flex flex-column gap-3">
    <h1 class="text-center m-0">Calendarik</h1>
    <form class="flex flex-column gap-3 align-items-center">
      <div class="flex flex-column gap-2">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" class="w-20rem">
      </div>
      <div class="flex flex-column gap-2">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="********" class="w-20rem">
      </div>
      <button>Log in</button>
    </form>
    <hr class="w-20rem">
    <div class="flex flex-column align-items-center gap-3">
      <p class="m-0">Login via:</p>
      <button (click)="authService.loginWithRedirect()" class="w-3 h-2rem inline-block">Google</button>
      <b>Don't have an account? <span class="underline cursor-pointer" [routerLink]="['/register']" >Sign up</span></b>
    </div>
  </div>
</div>
